[submodule "chipyard"]
	path = chipyard
	url = git@github.com:mattweingarten/chipyard.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = git@github.com:mattweingarten/riscv-tests.git
[submodule "libgloss"]
	path = libgloss
	url = git@github.com:ucb-bar/libgloss-htif.git
[submodule "ibex"]
	path = ibex
	url = git@github.com:michaelg29/ibex
	branch = master	
